@{
    ViewData["Title"] = "Index";
}

<h2>About Us</h2>

<p>Hello, welcome to our website. We deliver the most premium pc's on the market to start shopping click on Computers right next to the tab about us, have fun shopping!!</p>